<main class="ms-2">
    {{> title data=name big=true}}

    <hr class="my-5">
    
    <section>
        {{> title data="User list"}}       

        <div class="mt-3">
            <ul>
                {{#each users}}
                <li {{#unless @last}} class="mb-3 {{/unless}}">
                    <div>
                        Name - <b>{{name}}</b>
                    </div>
                    <div>
                        Gender - <b>{{gender}}</b>
                    </div>
                    <div>
                        Id - <b>{{id}}</b>
                    </div>
                    <div>
                        Age - <b>{{age}}</b>
                    </div>

                        <div class="my-3">
                            Friends:
                        </div>

                        <ul>
                            {{#each friends}}
                            <li {{#unless @last}} class="mb-3" {{/unless}}>
                                <div>
                                    Name - <b>{{name}}</b>
                                </div>
                                <div>
                                    Gender - <b>{{gender}}</b>
                                </div>
                                <div>
                                    Id - <b>{{id}}</b>
                                </div>
                                <div>
                                    Age - <b>{{age}}</b>
                                </div>
                                
                                <div class="my-3">
                                    Mutual friend:
                                </div>

                                <ul>
                                    {{#each mutual_friends}}
                                    <li {{#unless @last}} class="mb-3" {{/unless}}>
                                        <div>
                                            Name - <b>{{name}}</b>
                                        </div>
                                        <div>
                                            Gender - <b>{{gender}}</b>
                                        </div>
                                        <div>
                                            Id - <b>{{id}}</b>
                                        </div>
                                        <div>
                                            Age - <b>{{age}}</b>
                                        </div>
                                        
                                    </li>

                                    {{/each}}
                                </ul>
                            </li>

                            {{/each}}
                        </ul>
                    
                    {{#unless friends.[0].groups}}

                        <div class="my-3">
                            Groups:
                        </div>

                        <ul>
                            {{#each groups}}
                                <li>
                                    <div>
                                        Name - <b>{{name}}</b>
                                    </div>
                                    <div>
                                        Description - <b>"{{description}}"</b>
                                    </div>
                                    <div>
                                        Id - <b>{{id}}</b>
                                    </div>
                                    
                                    <div class="my-3">
                                        Members:
                                    </div>

                                    <ul>
                                        {{#each members}}
                                            <li>
                                                <div>
                                                    Name - <b>{{name}}</b>
                                                </div>
                                                <div>
                                                    Gender - <b>{{gender}}</b>
                                                </div>
                                                <div>
                                                    Id - <b>{{id}}</b>
                                                </div>
                                                <div>
                                                    Age - <b>{{age}}</b>
                                                </div>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                        
                        {{else}}

                        <div class="my-3">
                            Groups:
                        </div>

                        <ul>
                            {{#each friends.[0].groups}}
                                <li>
                                    <div>
                                        Name - <b>{{name}}</b>
                                    </div>
                                    <div>
                                        Description - <b>"{{description}}"</b>
                                    </div>
                                    <div>
                                        Id - <b>{{id}}</b>
                                    </div>
                                    
                                    <div class="my-3">
                                        Members:
                                    </div>

                                    <ul>
                                        {{#each members}}
                                            <li {{#unless @last}} class="mb-3" {{/unless}}>
                                                <div>
                                                    Name - <b>{{name}}</b>
                                                </div>
                                                <div>
                                                    Gender - <b>{{gender}}</b>
                                                </div>
                                                <div>
                                                    Id - <b>{{id}}</b>
                                                </div>
                                                <div>
                                                    Age - <b>{{age}}</b>
                                                </div>
                                            </li>

                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                    {{/unless}}
                </li>

            {{/each}}
            </ul>
        </div>
    </section>
</main>