<main class="ms-2">
    <div>
        {{> title data=name big=true}}

        <div class="my-3">
            <i>{{description}}</i>
        </div>
    
        <div>
            <div class="mb-3">
                <b>Creation:</b>
            </div>

            {{#with history}}
                <div>
                    <div>
                        Year of creation - <b>{{year}}</b>
                    </div>
                    <div>
                        Founded by - <b>{{founder}}</b>
                    </div>
                </div>
            {{/with}}
        </div>
    </div>

    <hr class="my-5">

    {{> list-badge-section title="Types" listName=types}}

    <hr class="my-5">

    <div>
        {{> title data="Syntax"}}

        <div class="my-3">
            {{#with syntax}}
                <div>
                    {{> list listName=variables listTitle="Variables"}}
                </div>
                <div class="my-3">
                    {{> list listName=functions listTitle="Functions"}}
                </div>
                <div>
                    {{> list listName=conditionals listTitle="Conditionals"}}
                </div>
                <div class="my-3">
                    {{> list listName=loops listTitle="Loops"}}
                </div>
                <div>
                    {{> list listName=classes listTitle="Classes"}}
                </div>
            {{/with}}
        </div>
    </div>

    <hr class="my-5">

    {{> list-badge-section title="Features" listName=features}}

    <hr class="my-5">

    {{> list-badge-section title="Libraries" listName=libraries}}

    <hr class="my-5">

    {{> list-badge-section title="Tools" listName=tools}}

    <hr class="my-5">

    <div>
        {{> title data="Js-related websites"}}
        <ul>
                {{#each community}}
                <li>
                    <div>
                        {{name}} - {{type}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</main>