<main class="ms-2">
    <div>
        <div>
            {{> title data=name big=true}}
            <span>{{description}}</span>
        </div>
        
        <div class="mt-3">
            Price - <b>{{price}}$</b>
        </div>
        <div class="mb-3">
            <span class="badge bg-primary">{{category}}</span>
        </div>

        <a type="button" href="#" class="btn btn-primary btn-small">Buy</a>
    </div>

    <hr class="my-5">

    <div>
        {{#with features}}
            {{> title data="Features"}}

            <hr class="my-5">

            <div>
                    {{#with processor}}
                    <div>
                        <b>Processor</b>
                    </div>

                    <ul class="mt-3">
                        <li>Brand - <b>{{brand}}</b></li>
                        <li>Model - <b>{{model}}</b></li>
                        <li>Speed - <b>{{speed}}</b></li>
                        <li>Cores amount - <b>{{cores}}</b></li>
                        <li>Cache - <b>{{cache}}</b></li>
                    </ul>
                {{/with}}
            </div>
            
            <hr class="my-5">

            <div>
                {{#with memory}}
                    <div>
                        <b>Memory</b>
                    </div>

                    <ul class="mt-3">
                        <li>Type - <b>{{type}}</b></li>
                        <li>Size - <b>{{size}}</b></li>
                        <li>Speed - <b>{{speed}}</b></li>
                    </ul>
                {{/with}}
            </div>                

            <hr class="my-5">

            <div>
                {{#with storage}}
                    <div>
                        <b>Storage</b>
                    </div>

                    <ul class="mt-3">
                        <li>Type - <b>{{type}}</b></li>
                        <li>Size - <b>{{size}}</b></li>
                    </ul>
                {{/with}}
            </div>

            <hr class="my-5">

            <div>
                {{#with display}}
                    <div>
                        <b>Display</b>
                    </div>

                    <ul class="mt-3">
                        <li>Size - <b>{{size}}</b></li>
                        <li>Resolution - <b>{{resolution}}</b></li>
                        <li>Technology - <b>{{technology}}</b></li>
                        <li>Color spaxce - <b>{{color_space}}</b></li>
                        <li>Brightness - <b>{{brightness}}</b></li>
                        <li>Refresh rate - <b>{{refresh_rate}}</b> </li>
                    </ul>
                {{/with}}
            </div>

            <hr class="my-5">

            <div>
                {{#with graphics}}
                    <div>
                        <b>Graphics</b>
                    </div>

                    <ul class="mt-3">
                        <li>Brand - <b>{{brand}}</b></li>
                        <li>Model - <b>{{model}}</b></li>
                        <li>Memory - <b>{{memory}}</b></li>
                    </ul>
                {{/with}}
            </div>
            
            <hr class="my-5">

            <div>
                <div>
                    <b>Ports</b>
                </div>

                <ul class="mt-3">
                    {{#each ports}}
                    <li {{#unless @last}} class="mb-3" {{/unless}}>
                        <div>
                            Port type - <b>{{type}}</b>
                        </div>
                        <div>
                            Port count - <b>{{count}}</b>
                        </div>
                        {{#if features}}
                        <br>
                        {{/if}}
                        <div>
                            Port features:
                        </div>
                        <div>
                            <ul>
                                {{#each features}}
                                <li><b>{{this}}</b></li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <hr class="my-5">

            <div>
                {{#with battery}}
                    <div>
                        <b>Battery</b>
                    </div>

                    <ul class="mt-3">
                        <li>Type - <b>{{type}}</b></li>
                        <li>Capacity - <b>{{capacity}}</b></li>
                        <li>Lifetime - <b>{{life}}</b></li>
                    </ul>
                
                {{/with}}
            </div>
            
            <hr class="my-5">

            <div>
                {{#with dimensions}}
                    <div>
                        <b>Dimensions</b>
                    </div>

                    <ul class="mt-3">
                        <li>Height - <b>{{height}}</b></li>
                        <li>Width - <b>{{width}}</b></li>
                        <li>Depth - <b>{{depth}}</b></li>
                        <li>Weight - <b>{{../weight}}</b></li>
                    </ul>
                {{/with}}
            </div>

            <hr class="my-5">

            <div>
                <div>
                    <b>Opearting system</b>
                </div>

                <ul class="mt-3">
                    <li>Operating system - <b>{{operating_system}}</b></li>
                </ul>
            </div>

            <div class="mt-3">
                <div>
                    <b>Accesories</b>
                </div>

                <ul class="mt-3">
                    {{#each accessories}}
                        <li {{#unless @last}} class="mb-3" {{/unless}}>
                            <div class="mb-3">
                                <b>{{name}}</b> - <b>{{price}}</b>
                            </div>

                            <a type="button" href="#" class="btn btn-primary btn-sm">Buy</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/with}}
    </section>
</main>