{{#with program}}
    <main class="ms-2">
        {{#with excursion}}
            <div>
                {{> title data=name big=true}}
                
                <div class="mt-3">
                    {{#with location}}
                        <div>
                            <em>{{country}} - {{city}}</em>
                        </div>
                    {{/with}}
                    <div>
                        <i>{{date}}</i>
                    </div>
                </div>
            </div>

            <hr class="my-5">

            <div>
                {{> title data="Program"}}

                <hr class="my-5">

                <ul>
                    {{#each program}}
                        <li>
                            <div>
                                Program name - <em>{{name}}</em>
                            </div>
                            <div>
                                Program type - <em>{{type}}</em>
                            </div>
                            <div>
                                Program duration - <em>{{duration}} day(s)</em>
                            </div>

                            <div class="mt-3">
                                {{#with details}}
                                    {{#if museum}}
                                        <div>
                                            <strong>{{museum.name}}</strong>
                                        </div>

                                        <div>
                                            {{#with museum}}
                                                {{#with location}}
                                                    <div>
                                                        <address>Location: {{country}}, {{city}}, {{address}}</address>
                                                    </div>
                                                {{/with}}

                                                <div class="mt-3">
                                                    <div>
                                                        <i>Exhibits:</i>
                                                    </div>

                                                    <ul>
                                                        {{#each exhibits}}
                                                            <li {{#unless @last}} class="mt-3" {{/unless}}>
                                                                <div>
                                                                    <em>{{name}} {{#if artist}} - {{artist}} {{/if}}</em>
                                                                </div>

                                                                <div>
                                                                    <small>{{description}}</small>
                                                                </div>

                                                                <div class="mt-3">
                                                                    {{#if audio_guide}}
                                                                        Audio guide is present!
                                                                    {{/if}}
                                                                </div>
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            {{/with}}

                                            <div class="mt-3">
                                                {{#with guide}}
                                                <div>
                                                    <em>Guide: {{name}}(language - {{language}}), {{rating}}</em>
                                                </div>
                                                {{/with}}
                                            </div>
                                        </div>

                                    {{else}}

                                        <div>
                                            <strong>{{venue.name}}</strong>
                                        </div>

                                        <div>
                                            {{#with venue}}
                                                {{#with location}}
                                                    <div>
                                                        <address>Location: {{country}}, {{city}}, {{address}}</address>
                                                    </div>
                                                {{/with}}
                                            {{/with}}

                                            <div class="mt-3">
                                                <em>Performers:</em>
                                            </div>

                                            <ul>
                                                {{#each performers}}
                                                    <li>
                                                        <div>
                                                            <i> {{name}} - {{type}}</i>
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            </ul>

                                            <div class="mt-3">
                                                {{#with guide}}
                                                <div>
                                                    <em>Guide: {{name}}(language - {{language}}), {{rating}}</em>
                                                </div>
                                                {{/with}}
                                            </div>
                                        </div>    
                                    {{/if}}
                                {{/with}}
                            </div>
                        </li>
                        <hr class="my-5">
                    {{/each}}
                </ul>
            </div>
        {{/with}}
    </main>
{{/with}}