<main class="ms-2 mt-2">
    {{#with heading}}
        <div class="card">
            <div>
                <div class="card">
                    {{#with main}}
                        <div class="card-body">

                            <h1>{{title}}</h1>

                            <p>{{text}}</p>

                            {{#with button_text}}
                            <div>
                                <button type="button" class="btn btn-primary">{{solid}}</button>
                            </div>

                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary">{{outline}}</button>
                            </div>
                            {{/with}}
                        </div>
                    {{/with}}
                </div>

                <div class="card mt-3">
                    {{#with second}}
                        <div class="card-body">

                            <h2>{{title}}</h2>

                            <p>{{text}}</p>
                            

                            {{#with button_text}}
                            <div>
                                <button type="button" class="btn btn-secondary">{{solid}}</button>
                            </div>

                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-secondary">{{outline}}</button>
                            </div>
                            {{/with}}
                        </div>
                    {{/with}}
                </div>

                <div class="card mt-3">
                    {{#with subblock}}
                        <div class="card-body">

                            <h3>{{title}}</h3>

                            <p>{{text}}</p>

                            {{#with button_text}}
                            <div>
                                <button type="button" class="btn btn-dark">{{solid}}</button>
                            </div>

                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-dark">{{outline}}</button>
                            </div>
                            {{/with}}
                        </div>
                    {{/with}}
                </div>
            </div>
        </div>
    {{/with}}

    {{#with nested_display}}
        <div class="card mt-3">
            <div>
                <div class="mb-3">
                    <span class="display-1 ms-3">{{title}}</span>
                </div>

                {{#with children_display}}
                    <div class="card card-body">
                        <div>
                            <span class="display-4">{{title}}</span>
                        </div>

                        <p>{{text}}</p>

                        <div>
                            <button type="button" class="btn btn-outline-warning">{{button.text}}</button>
                        </div>
                    </div>
                {{/with}}

                <div class="mt-3">
                    <h6 class="ms-3">{{header_text}}</h6>

                    <div class="my-3 ms-3">
                        <button type="button" class="btn btn-info">{{button.text}}</button>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}

    {{#with paragraph}}
        <div class="card mt-3">
            <section>
                <p class="text-uppercase ms-3 mt-3">{{title}}</p>

                <p class="ms-3">{{text}}</p>

                <a href="{{button.url}}" class="btn btn-link ps-3">{{button.text}}</a>

                <div class="card card-body mt-3">
                    <ul>
                        {{#each list_name}}
                        <li>
                            <a type="button" class="btn btn-link" href="{{url}}">{{text}}</a>
                        </li>
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    {{/with}}
</main>