{{#with page_header}}
    <header class="ms-2">
        <h1 class="text-center mt-3">{{title}}</h1>

        <p class="text-uppercase text-center">{{description}}</p>
    </header>
{{/with}}

{{#with section}}
<main class="ms-2">
    {{#with about_us}}
        <div class="card">
            {{#with title_list}}
                <div class="text-end mb-3">
                    <span class="display-6">{{main}}</span>
                </div>

                <h2 class="text-end">{{sub}}</h2>
            {{/with}}

            {{#with button}}
                <div class="my-3 ms-3">
                    <button type="button" class="btn btn-outline-info">{{text}}</button>
                </div>
            {{/with}}
        </div>
    {{/with}}

    {{#with advantage}}
        <div class="card mt-3">
            <div class="card-body">
                <span class="display-5 text-muted">{{title}}</span>
            </div>
            
            <div>
                {{> advantage-part part=efficiency}}
            </div>
            <div class="my-3">
                {{> advantage-part part=innovation center=true}}
            </div>
            <div>
                {{> advantage-part part=collaboration end=true}}
            </div>
        </div>
    {{/with}}

    {{#with agreement}}
        <div class="card mt-3">
            <div class="card-body">
                <span class="display-5">{{title}}</span>
            </div>

            {{#with info}}
                <div class="card card-body mt-3">
                    <h5 class="mb-3">{{sub_title}}</h5>

                    {{#with detail}}
                        <div class="card card-body">
                            <p>{{text}}</p>

                            <div>
                                <button type="button" class="btn btn-success">{{button}}</button>
                            </div>
                        </div>
                    {{/with}}
                </div>
            {{/with}}
        </div>
    {{/with}}
</main>
{{/with}}