{{#with card_name}}
<div class="col-6">
    <div class="card">
        <img src="{{picture.src}}" alt="{{picture.alt}}" class="card-img-top">
        <div class="card-body">
            <div class="card-title"><b>{{title}}</b></div>
            <p>{{description}}</p>
            <a type="button" class="btn btn-primary" href="{{button.href}}">{{button.text}}</a>
        </div>
    
    </div>
</div>
{{/with}}
