{{#with first}}
<div class="col-4"> 
    <a type="button" href="{{href}}" class="btn btn-outline-link">{{text}}</a>
</div>
{{/with}}
{{#with second}}
<div class="col-4"> 
    <a type="button" href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
</div>
{{/with}}
{{#with third}}
<div class="col-4"> 
    <a type="button" href="{{link}}" class="btn btn-outline-info">{{name}}</a>
</div>
{{/with}}